@import controllers.front.Application
@import services.intern.database.AdminUser
@(user: AdminUser, applications: Seq[Application])(implicit lang: Lang, messagesApi: MessagesApi, flash: Flash)
@main(messagesApi.apply("title.application.list"), Some(user), None) {
    <div class="container">
        <div class="row">
        @if(!applications.isEmpty) {
            <table class="table">
                <thead>
                    <tr>
                        <th>@messagesApi.apply("application.table.th.id")</th>
                        <th>@messagesApi.apply("application.table.th.subject")</th>
                        <th>@messagesApi.apply("application.table.th.user")</th>
                        <th>@messagesApi.apply("application.table.th.creation.date")</th>
                    </tr>
                </thead>
                <tbody>
                @for(application <- applications) {
                    <tr>
                        <td><a href="@controllers.routes.ApplicationController.detail(application.getEncoded())">@application.id</a></td>
                        <td>@application.subject</td>
                        <td>@application.userIdentifier</td>
                        <td>@application.createDate</td>
                    </tr>
                }
                </tbody>
            </table>
        } else {
            <p>@messagesApi.apply("applications.empty")</p>
        }
        </div>
    </div>
}