@*FIXME in progress*@
@import services.database.User
@(user: User, users: Seq[User])(implicit messagesApi: MessagesApi)

@main(messagesApi.apply("user.list.page.title"), Some(user), None) {
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>List of users</p>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@messagesApi.apply("user.id")</th>
                            <th>@messagesApi.apply("form.signIn.lastName")</th>
                            <th>@messagesApi.apply("form.signIn.firstName")</th>
                            <th>@messagesApi.apply("form.signIn.mail")</th>
                            <th>@messagesApi.apply("user.createdAt")</th>
                            <th>@messagesApi.apply("user.admin")</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(u <- users) {
                        <tr>
                            <td>
                                <a class="btn btn-primary" href="@routes.UserController.edit(u.id + "")" role="button">Edit</a>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                            <th scope="row">@u.id</th>
                            <td>@u.lastLogin</td>
                            <td>@u.firstName</td>
                            <td>@u.mail</td>
                            <td>@u.createdAt</td>
                            <td>@u.admin</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}

