@import controllers.front.UserList
@import services.intern.database.User
@(user: User, users: Seq[(UserList, Boolean)])(implicit messagesApi: MessagesApi, flash: Flash)

@disabled(user: UserList, canDelete: Boolean) = {
    <a class="btn btn-primary" href="@routes.UserController.edit(user.getEncoded())" role="button">@messagesApi.apply("user.admin.edit")</a>
@if(canDelete) {
    <a class="btn btn-danger" href="@routes.UserController.delete(user.getEncoded())" role="button">@messagesApi.apply("user.admin.delete")</a>
} else {
    <button class="btn btn-danger" disabled>@messagesApi.apply("user.admin.delete")</button>
}
}

@main(messagesApi.apply("user.list.page.title"), Some(user), None) {
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>List of users</p>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@messagesApi.apply("user.id")</th>
                            <th>@messagesApi.apply("form.signIn.lastName")</th>
                            <th>@messagesApi.apply("form.signIn.firstName")</th>
                            <th>@messagesApi.apply("form.signIn.mail")</th>
                            <th>@messagesApi.apply("user.createdAt")</th>
                            <th>@messagesApi.apply("user.admin")</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(u <- users) {
                        <tr>
                            <td>
                            @disabled(u._1, u._2)
                            </td>
                            <th scope="row">@u._1.id</th>
                            <td>@u._1.lastName</td>
                            <td>@u._1.firstName</td>
                            <td>@u._1.mail</td>
                            <td>@u._1.createdAt</td>
                            <td>
                                <input type="checkbox" onclick="return false;" value=""
                                @if(u._1.admin) {checked} readonly/>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}

