@(name: String, id: String, key: String, placeHolderKey: Option[String], formGroupClass: Option[String], fieldValue: Option[String], fieldClass: Option[String])(content: Html)(implicit messageApi: MessagesApi)

<div class="form-group @if(formGroupClass.isDefined) {@formGroupClass.get}">
    <label class="form-control-label" for="@id">@messageApi(key)</label>
    <input name="@name" type="text" value="@if(fieldValue.isDefined) {@fieldValue.get}" class="form-control @if(fieldClass.isDefined) {@fieldClass.get}" id="@id" />
    @content

</div>