@import services.intern.database.User
@(user: Option[User], resource: String, resourceKey: Option[String])(implicit messagesApi: MessagesApi, flash: Flash)

@main(messagesApi.apply("resource.not.found.title"), user, None) {
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">@messagesApi.apply("resource.not.found")</h4>
                    <p>@messagesApi.apply("resource.not.found.body")</p>
                </div>
            </div>
        </div>
    </div>
}