@import controllers.front.{Category, Role}
@import services.intern.database.User
@import views.Section
@(user: Option[User], categories: Seq[Category], roles: Seq[Role], categoryToRole: Seq[(Category, Role, Boolean)])(implicit lang: Lang, messagesApi: MessagesApi, flash: Flash)
@main("", user, Section.ADMIN_ASSOCIATE_CATEGORY_ROLE) {
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@messagesApi.apply("admin.category.association.table.category")</th>
                            @for(role <- roles) {
                                <th>@role.label</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                    @for(cat <- categories) {
                        <tr>
                            <td scope="row">@cat.label</td>
                            @for(role <- roles) {
                                <td>
                                @if(categoryToRole.contains((cat, role, true))) {
                                    <input type="checkbox" id="joinCat_@{
                                        cat.getEncoded()
                                    }_Role_@{
                                        role.getEncoded()
                                    }" checked />
                                } else {
                                    <input type="checkbox" id="joinCat_@{
                                        cat.getEncoded()
                                    }_Role_@{
                                        role.getEncoded()
                                    }" />
                                }
                                </td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script>
            $(':checkbox').change(function () {
                console.log('changed')
                // do stuff here. It will fire on any checkbox change

            });
    </script>
}