@import commons.form._
@import forms.{ApplyForm, FormConfig, Helper}
@import views.Section


@(config: FormConfig, form: Form[ApplyForm])(implicit messapeApi: MessagesApi)

@main(messapeApi.apply(""), None, Section.JOIN_US) {
    <div class="container">
        <form action="@routes.JoinUsController.post()" method="post">
            @* IRL presentation *@
            <div class="row">
                <h3>@messapeApi.apply("join.us.irl")</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                @inputText("name", "name", "join.us.pseudo", None, Helper.decorateFormGroup(form, "name", true), Helper.value(form, "name"), Helper.decorateField(form, "name")) {
                    @Helper.fieldFeedback(form, "name")
                }
                </div>
                <div class="col-sm-4 offset-sm-1">
                @inputText("age", "age", "join.us.age", None, Helper.decorateFormGroup(form, "age", true), Helper.value(form, "age"), Helper.decorateField(form, "age")) {
                    @Helper.fieldFeedback(form, "age")
                }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                @textArea(3, "share", "share", "join.us.share", None, Helper.decorateFormGroup(form, "share", true), Helper.value(form, "share"), Helper.decorateField(form, "share")) {
                    @Helper.fieldFeedback(form, "share")
                }
                </div>
            </div>

            @* In game presentation *@
            <div class="row">
                <h3>@messapeApi.apply("join.us.in.game")</h3>
            </div>
            <div class="row">
                <div class="col-sm-3">
                @inputText("charName", "charName", "join.us.char.name", None, Helper.decorateFormGroup(form, "charName", true), Helper.value(form, "charName"), Helper.decorateField(form, "charName")) {
                    @Helper.fieldFeedback(form, "charName")
                }
                </div>
                <div class="col-sm-7 offset-sm-1">
                @inputText("charArmory", "charArmory", "join.us.char.armory", None, Helper.decorateFormGroup(form, "charArmory", true), Helper.value(form, "charArmory"), Helper.decorateField(form, "charArmory")) {
                    @Helper.fieldFeedback(form, "charArmory")
                }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                @textArea(3, "charStrengthAndWeakness", "charStrengthAndWeakness", "join.us.char.strength.and.weakness", None, Helper.decorateFormGroup(form, "charStrengthAndWeakness", true), Helper.value(form, "charStrengthAndWeakness"), Helper.decorateField(form, "charStrengthAndWeakness")) {
                    @Helper.fieldFeedback(form, "charStrengthAndWeakness")
                }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                @inputText("addons", "addons", "join.us.addons", None, Helper.decorateFormGroup(form, "addons", true), Helper.value(form, "addons"), Helper.decorateField(form, "addons")) {
                    @Helper.fieldFeedback(form, "addons")
                }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                @inputText("uiLink", "uiLink", "join.us.ui.link", None, Helper.decorateFormGroup(form, "uiLink", true), Helper.value(form, "uiLink"), Helper.decorateField(form, "uiLink")) {
                    @Helper.fieldFeedback(form, "uiLink")
                }
                </div>
            </div>

            @* Guild related *@
            <div class="row">
                <h3>@messapeApi.apply("join.us.you.and.us")</h3>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div class="form-group">
                    @textArea(3, "why", "why", "join.us.why", None, Helper.decorateFormGroup(form, "why", true), Helper.value(form, "why"), Helper.decorateField(form, "why")) {
                        @Helper.fieldFeedback(form, "addons")
                    }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11">
                    <div class="form-group">
                    @textArea(3, "attempt", "attempt", "join.us.attempt", None, Helper.decorateFormGroup(form, "attempt", true), Helper.value(form, "attempt"), Helper.decorateField(form, "attempt")) {
                        @Helper.fieldFeedback(form, "attempt")
                    }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11">
                    <div class="form-group">
                    @textArea(3, "whyYou", "whyYou", "join.us.why.you", None, Helper.decorateFormGroup(form, "whyYou", true), Helper.value(form, "whyYou"), Helper.decorateField(form, "whyYou")) {
                        @Helper.fieldFeedback(form, "attempt")
                    }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-check @Helper.decorateFormGroup(form, "charte", true)">
                        <label class="form-check-label">
                            <input @if(Helper.checked(form, "charte")) {
                                checked="checked"
                            } value="true" name="charte" id="charte" type="checkbox" class="form-check-input">
                            @messapeApi("join.us.charte")
                        </label>
                        @Helper.fieldFeedback(form, "charte")
                    </div>
                </div>

            </div>
            @if(config.recaptchaConfig.recaptchaEnabled) {
                <div class="row">
                    <div class="col-sm-5">
                        <div class="g-recaptcha" data-sitekey="@config.recaptchaConfig.publicKey"></div>
                    </div>
                </div>
            }
            <div class="row">
                <button type="submit" class="btn btn-primary">@messapeApi.apply("join.us.submit")</button>
            </div>
        </form>
    </div>
}